<section class="container-fluid">
  <div class="row contact-info">
    <div class="container">
      <div class="row">
        <div class="portrait col-sm-4 col-xs-12 vcenter">
          <img src="img/yo.jpg" alt="Me" class="img-circle">
        </div><!--
        --><div class="social-links text-center col-sm-8 col-xs-12 vcenter">
          <h1>Esteban Invernizzi</h1>
          <div class="row">
            <div class="social-link text-right col-sm-6 col-xs-12">
              invernizzie
              <img src="img/social-icons/github.png" alt="github">          
            </div>
            <div class="social-link text-left col-sm-6 col-xs-12">
              <img src="img/social-icons/stackoverflow.png" alt="stackoverflow">
              esteban
            </div>
            <div class="social-link text-right col-sm-6 col-xs-12">
              invernizzie@gmail.com
              <img src="img/social-icons/email.png" alt="email">          
            </div>
            <div class="social-link text-left col-sm-6 col-xs-12">
              <img src="img/social-icons/linkedin.png" alt="linkedin">
              Esteban Invernizzi
            </div>
            <div class="social-link text-right col-sm-6 col-xs-12">
              Esteban Invernizzi
              <img src="img/social-icons/facebook.png" alt="facebook">      
            </div>
            <div class="social-link text-left col-sm-6 col-xs-12">
              <img src="img/social-icons/twitter.png" alt="twitter">
              mepodestuitear
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>