<section class="container-fluid">
  <div class="row header contact-info">
    <div class="container">
      <div class="row">
        <div class="portrait col-sm-4 col-xs-12 vcenter">
          <img src="img/yo.jpg" alt="Me" class="img-circle">
        </div><!--
        --><div class="social-links text-center col-sm-8 col-xs-12 vcenter">
          <h1>Esteban Invernizzi</h1>
          <div class="row">
            <a href="https://github.com/invernizzie" class="social-link text-right col-sm-6 col-xs-12">
              invernizzie
              <img src="img/social-icons/github.png" alt="github">          
            </a>
            <a href="http://stackoverflow.com/users/606885/esteban" class="social-link text-left col-sm-6 col-xs-12">
              <img src="img/social-icons/stackoverflow.png" alt="stackoverflow">
              esteban
            </a>
            <a href="mailto:invernizzie@gmail.com" class="social-link text-right col-sm-6 col-xs-12">
              invernizzie&#x200b;@gmail.com
              <img src="img/social-icons/email.png" alt="email">          
            </a>
            <a href="https://www.linkedin.com/pub/esteban-i-invernizzi/26/1a6/613" class="social-link text-left col-sm-6 col-xs-12">
              <img src="img/social-icons/linkedin.png" alt="linkedin">
              Esteban Invernizzi
            </a>
            <a href="https://www.facebook.com/el.gordo.esteban" class="social-link text-right col-sm-6 col-xs-12">
              Esteban Invernizzi
              <img src="img/social-icons/facebook.png" alt="facebook">      
            </a>
            <a href="https://twitter.com/mepodestuitear" class="social-link text-left col-sm-6 col-xs-12">
              <img src="img/social-icons/twitter.png" alt="twitter">
              mepodestuitear
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
